<h2>Admin Zone</h2>
​
<h3>Specimen Management</h3>
<ul>
  {{#each specimenArray}}
  <li>
    <h4>{{this.specimenName}}</h4>
    <p>{{this.specimenDescription}}</p>
    <h5><b>{{this.specimenSpecies}}</b></h5>
    <img src="{{this.specimenPicUrl}}"/>
  </li>
  {{/each}}
</ul>