<div class="login">


    {{> flash_messages}}


    <form action="/process-login" method="POST">

        <label class="email">

            <input type="email" name="email" placeholder="Email" required="true" />
        </label>

        <label class="password">

            <input type="password" name="originalPassword" placeholder="Password" required="true">
        </label>
        <a href="/passwordforgotten" class="passwordForgotten">Forgot password?</a>
        <button>Log In</button>
    </form>



    <a href="/signup" class="homesignup">
        <p class="noaccount">or</p>
        <p class="signup">Sign Up</p>
    </a>



    <a href="/" class="allspecimens">See All Plants</a>
</div>


{{!-- {{> flash_messages}}

    {{#if currentUser}}
    <h3>Welcome back, {{currentUser.userName}}</h3>
    {{else}}
    <p>Why don't you make an account?</p>
    <a href="/signup">Sign Up Today</a>
    {{/if}} --}}