<h2 class="passwordforgotten-title">Forgot Password?</h2>

<form action="/passwordforgotten-email" method="POST">

    <label class="email">

        <input type="email" name="email" placeholder="Email" required="true" />
    </label>

    <button class="sendme">Send Me</button>
</form>