<h2 class="sources-tittle">Sources</h2>

<ul class="websites-list">
    <li>
        <a href="https://trefle.io/">> trefle.io</a>
    </li>
    <li>
        <a href="https://plants.sc.egov.usda.gov/java/">> plants.sc.egov.usda.gov</a>
    </li>
    <li>
        <a href="https://www.ftd.com/blog/design/types-of-cactus">> ftd.com</a>
    </li>
    <li>
        <a href="https://www.bgci.org/resources/database_links/">> bgci.org</a>
    </li>
    <li>
        <a href="http://www.kew.org/data/grasses-db.html">> kew.org</a>
    </li>
    <li>
        <a href="https://garden.org/plants/search/text.php?q=yucca">> garden.org</a>
    </li>
    <li>
        <a href="https://www.gardeningknowhow.com/">> gardeningknowhow.com</a>
    </li>
    <li>
        <a href="https://www.succulentsandsunshine.com/">> succulentsandsunshine.com</a>
    </li>
    <li>
        <a href="https://worldofsucculents.com/">> worldofsucculents.com</a>
    </li>
</ul>