@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

html {
  height: 96%;
  font-family: "Lato", sans-serif;
}

body {
  padding: 0;
  margin: 4%;
  height: 100%;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
}

label {
  display: block;
}

.error-message {
  border: 3px solid;
  border-radius: 3px;
  color: tomato;
  padding: 10px;
}

.success-message {
  border: 3px solid;
  border-radius: 3px;
  color: chartreuse;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 26%;
}

.logoApp {
  width: 64px;
  height: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  margin: 0;
  font-size: 1em;
  color: #046425;
}
footer {
  justify-content: space-around;
  width: 100%;
}

.footer {
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.needhelp {
  margin: 0;
}

input {
  border-radius: 40px;
  background-color: rgba(#a8db00, 0.2);
  border: 1px solid #a8db00;
  height: 34px;
  width: 80%;
  padding: 0;
  color: #046425;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1em;
  // box-sizing: border-box;
}

::placeholder {
  border-radius: 40px;
  height: 44px;
  width: 80%;
  border: none;
  padding: 0;
  color: #046425;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1em;
}

form {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}

.passwordForgotten {
  text-align: right;
  color: #046425;
  margin-top: -3%;
}

div.login {
  width: 76%;
}

button {
  background-color: #046425;
  border-radius: 40px;
  height: 34px;
  width: 52%;
  border: none;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.2em;
  margin-left: 25%;
  margin-right: 25%;
  letter-spacing: 0.06em;
}

.noaccount {
  margin: 0;
  font-size: 1em;
}

.allspecimens {
  background-color: #a8db00;
  border-radius: 40px;
  height: 34px;
  width: 56%;
  border: none;
  padding: 0;
  color: #046425;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.allspecimens {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-left: 12%;
  margin-right: 12%;
}

a {
  text-decoration: none;
  color: #a8db00;
}

a.sources,
a.contact {
  color: #046425;
}

.signup {
  margin: 0;
  font-size: 1.4em;
}

.processsignup {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
}

.homesignup {
  margin-top: -12%;
}

.websites-list {
  text-align: left;
  list-style: none;
  padding-left: 0;
  line-height: 1.8em;
  margin: 4% 0;
}

.sources-tittle,
.contact-tittle,
.signup-tittle,
.passwordforgotten-tittle {
  padding-top: 3%;
  font-size: 1.8em;
  margin: 0;
  color: #046425;
}

.send-email {
  background-color: #a8db00;
  border-radius: 40px;
  height: 34px;
  width: 50%;
  border: none;
  padding: 0;
  color: #046425;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50%;
}

.sendme {
  width: 60%;
  margin-left: 20%;
}
