{{> flash_messages}}


<form action="/process-signup" method="POST" class="processsignup" enctype="multipart/form-data">

  <label>
    <input type="file" name="profilPicUpload" placeholder="Upload a picture" />
  </label>

  <label>
    <input type="text" name="userName" placeholder="Your User Name" unique="true" required="true" />
  </label>

  <label>
    <input type="email" name="email" placeholder="Your Email" unique="true" required="true" />
  </label>

  <label>
    <input type="password" name="originalPassword" placeholder="Password (contain digit 0-9)" required="true" />
  </label>

  <button>Sign Up</button>
</form>


{{!-- const userSchema = new Schema(
{
username: { type: String },
mail: { type: String },
password: { type: String },
profilePicUrl: { type: String },
plants: { type: Array }
},
{
timestamps: true
}
); --}}