{{> flash_messages}}

<h2>Sign Up</h2>

<form action="/process-signup" method="POST">

  <label>
    Your User Name (2 characters or more):
    <input type="text" name="userName" placeholder="Leia Organa" unique="true" required="true" />
  </label>

  <label>
    Your Email (something@something.com):
    <input type="email" name="email" placeholder="leia@resistance.com" unique="true" required="true" />
  </label>

  <label>
    Choose a Password (must contain a digit 0-9):
    <input type="password" name="originalPassword" placeholder="It's a secret" required="true" />
  </label>

  <button>Sign Up</button>
</form>


{{!-- const userSchema = new Schema(
{
username: { type: String },
mail: { type: String },
password: { type: String },
profilePicUrl: { type: String },
plants: { type: Array }
},
{
timestamps: true
}
); --}}