<h2>My Rooms</h2>

{{!-- displays flash messages since we redirect here from /process-room --}}

{{> flash_messages}}

<a href="/room-add">Add a Room</a>

<ul>
  {{#each plantArray}}
  <li>
    <h3>{{this.plantName}}</h3>
    <p>{{this.plantDescription}}</p>
    <h4>{{this.plantSpecies}}</h4>
  </li>
  {{/each}}
</ul>