<h2>My Specimens</h2>

{{!-- displays flash messages since we redirect here from /process-specimen --}}

{{> flash_messages}}

<a href="/specimen-add">Add a Specimen</a>

<ul>
  {{#each specimenArray}}
  <li>
    <h3>{{this.specimenName}}</h3>
    <p>{{this.specimenDescription}}</p>
    <h4>{{this.specimenSpecies}}</h4>
  </li>
  {{/each}}
</ul>