<h2 class="add-plant-title">Add a Plant</h2>

<form action="/process-edit/" method="POST" enctype="multipart/form-data" class="add-a-plant-form">
  <label>
    <input type="text" , name="plantName" placeholder="Plant Name" required />
  </label>

  <label>

    <input type="text" , name="plantDescription" placeholder="Description" minlength="10" required />
  </label>

  <label>
    <input type="text" , name="plantSpecies" placeholder="Species" required />
  </label>

  <label>
    <input type="file" name="pictureUpload" />
  </label>

  <button class="save-this-plant-button">Save This Plant</button>
</form>