<h2>Add a Plant</h2>

<form action="/process-plant" method="POST">
  <label>
    Plant Name:
    <input type="text" , name="plantName" placeholder="Pinhead" required />
  </label>


  <label>
    Description:
    <input type="text" , name="plantDescription" placeholder="My first (precious) cactus" minlength="10" required />
  </label>

  <label>
    Species:
    <input type="text" , name="plantSpecies" placeholder="Carnegiea gigantea" required />
  </label>

  <button>Save This Plant</button>
</form>